@import '../styles';

.main {
  text-align: left;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: $text-color;
  background-color: $background-color-light;
  height: 100vh;
}
